<p>Here we go!</p>

<h1><%= word[:english] %>

[<% phonemes.each do |character| %><span class="phoneme"><%= character["symbol"] %></span><% end %>]</h1>

<p><a href="/">New word</a></p>



http://www2.sharonherald.com/herald/nie/spellb/spelllist2.html
