<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Phonames</title>
  <link rel="stylesheet" href="/css/normalize.css" class="css">
  <link rel="stylesheet" href="/css/foundation.min.css" class="css">
  <link rel="stylesheet" href="/css/style.css" class="css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <link rel="shortcut icon" type="image/png" href="/images/32_favicon.png"/>
</head>
<div class="button-container row">
  <div class="search-wrapper right">
    <input type="textbox" id="text-id" class="textbox-class upper-nav" name="searchParameter" placeholder="Search Word" />
    <a class="search-link"  href="search.html"><span class="voice_icon"></span></a>
  </div>
  <a href="/practice" class="button upper-nav right">Practice</a>
  <a href="/" class="button upper-nav right">Study</a>
<body>
  <div class="container">
  <div class="row">
    <div class="column">
      <%= yield %>
    </div>
  </div>
</div>
<a href="https://github.com/margonaut/Phonetics-Game" id="signature">[meɪd baɪ Mɑrgərɪt Mɔrgən]</a>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
<script>
$(document).foundation();
</script>
