.phoneme {
  color: #000;
  cursor: crosshair;
}

.phoneme:hover {
  color: grey;
  cursor: crosshair;
}

.f-dropdown p {
  text-align: left;
  margin-bottom: 0px;
}

.f-dropdown.content {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.65);
}

.f-dropdown:before {
  border-color:transparent transparent rgba(255, 255, 255, 0.75) transparent;
}

.button.new-word {
  background-color: transparent;
  border: solid 2px #FFF;
  border-radius: 5px;
  text-transform: uppercase;
}

.button.new-word:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b94a6+0,cdf0e9+100 */
background: rgb(43,148,166); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(43,148,166,1) 0%, rgba(205,240,233,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,148,166,1)), color-stop(100%,rgba(205,240,233,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(43,148,166,1) 0%,rgba(205,240,233,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(43,148,166,1) 0%,rgba(205,240,233,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(43,148,166,1) 0%,rgba(205,240,233,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(43,148,166,1) 0%,rgba(205,240,233,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b94a6', endColorstr='#cdf0e9',GradientType=0 ); /* IE6-9 */
}


#signature {
  font-size: 1.1em;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
}

.word-row {
  padding-top: 100px;
}

.main-word {
  font-weight: bold;
  font-size: 4.75rem;
}
